A Fat pile of ERB shit
<h1>Log in</h1>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :name %><br />
    <%= text_field_tag :name, params[:name] %>
  </p>
  <p>
    <%= label_tag :pass %><br />
    <%= password_field_tag :pass %>
  </p>
  <p class="button"><%= submit_tag "Log in" %></p>
<% end %>

