-#REDUNDANT DO NOT USE
- content_for :stylesheets do
  = stylesheet_link_tag 'index'

- if flash[:notice]
  #notice.message= flash[:notice]

%div#form-container.container
  %div.row
    %div.content-wrapper.col-md-10.col-md-offset-1
      %div.container-header
        Log In

      - if flash[:notice]
        %div.alert.alert-danger
          - flash[:notice].each do |msg|
            =msg + "."
            %br

      = form_tag users_path, {:multipart => true} do
        %div.form-group
          = label :user, :username, 'Username', :class => "control-label"
          = text_field :user, 'username', :class => "form-control", :placeholder => "name@email.com"

        %div.form-group
          = label :user, :password, 'Password', :class => "control-label"
          = password_field :user, 'password', :class => "form-control", :placeholder => "Password"

      = submit_tag 'Sign In', :class => "btn btn-primary"

