- content_for :stylesheets do
  = stylesheet_link_tag 'new'

%div#form-container.container
  %div.row
    %div#form-div.col-md-10.col-md-offset-1
      %div.container-header
        Create Resource
    
      = form_tag resources_path do
        %div.form-group
          = label :resource, :title, 'Title', :class => "control-label"
          = text_field :resource, 'title', :class => "form-control", :placeholder => "Algebra for 8th Grade"
        
        %div.form-group
          = label :resource, :author, 'Author', :class => "control-label"
          = text_field :resource, 'author', :class => "form-control", :placeholder => "John Smith"
        
        %div.form-group
          = label :resource, :summary, 'Summary', :class => "control-label"
          = text_area :resource, 'summary', :class => "form-control", :rows => "3", :placeholder => "A short summary of your resource"
        
        = submit_tag 'Submit', :class => "btn btn-primary"
