- content_for :stylesheets do
  = stylesheet_link_tag 'resources/show'

- if flash[:notice]
  %div.alert.alert-danger
    - flash[:notice].each do |msg|
      =msg + "."
      %br

%div.container
  %div.row
    %div.col-md-10.col-md-offset-1
      %ol.breadcrumb
        %li 
          %a{:href=>subjects_path()}
            =@resource.topic.field.subject.title
        %li 
          %a{:href=>field_path(@resource.topic.field)}
            =@resource.topic.field.title
        %li 
          %a{:href=>topic_path(@resource.topic)}
            =@resource.topic.title
        %li.active
          =@resource.title
      %div.content-wrapper
        %div.title #{@resource.title}



        %span.topic_in In: 
        %a#topic{:href => topic_path(@resource.topic_id)}= getTopicTitle(@resource.topic_id)

        %div.header Description:
        %p#description= @resource.description

        - if @resource.link and not @resource.link.empty?
          %div.info 
            %span Link:
            %a{:href => "#{@resource.link}"}= @resource.link

        - if @resource.pdf and @resource.pdf.exists?
          %div.info 
            %span File:
            %a{:href => @resource.pdf}= getPdfName(@resource.id)


        %div.info
          %span Posted By:
          -if @dr_user
            =@dr_user.name
        %br
        -if current_user == @dr_user or is_admin
          %a#edit_id{:class => "btn btn-primary", :style=>"display: inline-block; width: 80px;", :href=> edit_resource_path(@resource.id)} Edit
          = link_to 'Delete', resource_path(@resource.id), :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger", :style=>"display: inline-block; width: 80px;"

      %div.divider

      %div.content-wrapper
        %div.title Reviews
        %div.reviews
          - @resource.reviews.each do |review|
            %div.review{:id => "review-#{review.id}"}
              - if review.anonymous
                %div.name= "Anonymous"
              - else
                - if DrUser.where(:uid => review.dr_user_id).first
                  %div.name= DrUser.where(:uid => review.dr_user_id).first.name
              %div.rateit{ "data-rateit-value"=>"#{review.rating}", "data-rateit-ispreset"=>"true", "data-rateit-readonly"=>"true" }
              %div.content
                = review.content
              - if current_user == DrUser.where(:uid => review.dr_user_id).first
                %br
                = link_to 'Delete', resource_review_path(@resource.id, review.id), :confirm => 'Are you sure?', :method => :delete

        - if current_user
          %div#add-review.well
            %dov.title Add Review
            = form_for([@resource, @resource.reviews.build]) do |f|
              %div.group
                = f.label :rating
                %br
                - if flash[:review_rating]
                  %input#review_rating{:name => "review[rating]", :type => "range", :step=>'1', :value => flash[:review_rating]}
                - else 
                  %input#review_rating{:name => "review[rating]", :type => "range", :step=>'1', :value => '3'}
                %div.rateit{"data-rateit-backingfld"=>"#review_rating", "data-rateit-resetable"=>"false", "data-rateit-min"=>"0", "data-rateit-max"=>"5"}

              %div.group
                %label Description
                %br
                %textarea#review_content.form-control{:name=>"review[content]",:rows => '7'}
                  =flash[:review_content]
                  
              %div.group
                %label Post as anonymous
                = f.check_box :anonymous
              %input.btn.btn-primary{:type=>"submit", :value=>"Submit"}


