%h2 Title: #{@resource.title}

%h3 Description:
%p#description= @resource.description


%h3 Link 
%p= @resource.link

%h3 Posted By 
%p= @resource.posted_by

-# %li
-#    Rating:
-#    = @resource.reviews 
%h3 Reviews
= render @resource.reviews


%h3 Add a review:
= form_for([@resource, @resource.reviews.build]) do |f|
	%p
		= f.label :user
		%br
		= f.text_field :user
	%p
		= f.label :rating
		%br
		= f.radio_button :rating, 1
		= f.label :rating, 1
		= f.radio_button :rating, 2
		= f.label :rating, 2
		= f.radio_button :rating, 3
		= f.label :rating, 3
		= f.radio_button :rating, 4
		= f.label :rating, 4
		= f.radio_button :rating, 5
		= f.label :rating, 5
	%p
		= f.label :content
		%br
		= f.text_area :content
	%p
		= f.label :anonymous
		%br
		= f.check_box :anonymous
	%p.button
		= f.submit

= link_to 'Back to resources list', resources_path
