<!DOCTYPE html>
<html>
<head>
  <title>Forwardtutoring</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div id="nav-container">
          <div id="logo">
            <%= link_to image_tag("forwardtutoring_qcl_logo.jpg"), resources_path %>
          </div>
          <div id="nav" class="pull-right">
            <div class="option">
              <%= link_to 'Create Resource', new_resource_path %>
            </div>
          </div>
        </div>   
      </div>
    </div>
  </div>

<%= yield %>

</body>
</html>
